{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        <!-- Avoid CSRF attacks with the secret_key variable inside config.py-->
        {{ form.hidden_tag() }} 
        <p>
            {{ form.username.label(id='textform') }}<br>
            {{ form.username(size=32) }}<br>
            <!-- If any problem with the field created in forms.py and with a 
            validator attached Flask return errors -->
            {% for error in form.username.errors %}
            <span class="errormsg">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            
            {% for error in form.password.errors %}
            <span class="errormsg">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
{% endblock %}
